<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Tortoise</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
	<key>CFBundleName</key>
	<string>Tortoise</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.yourtortoise.Tortoise.callback</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.yourtortoise.Tortoise</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CLERK_PUBLISHABLE_KEY</key>
	<string>$(CLERK_PUBLISHABLE_KEY)</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
  <key>NSHumanReadableCopyright</key>
  <string>Copyright © 2026 Will Pulier. All rights reserved.</string>
  <key>NSPrincipalClass</key>
  <string>NSApplication</string>
  <key>NSSupportsAutomaticGraphicsSwitching</key>
  <true/>
	<key>QuietGateChromiumExtensionStoreURL</key>
	<string>https://chromewebstore.google.com/detail/quietgate-focus-adult-blo/gdonnnhgjfmdejnhbhbfhinhmkgjalee</string>
	<key>QuietGateFirefoxExtensionStoreURL</key>
	<string></string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/wpulier/quitegate/releases/download/macos-appcast/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>Gh7jn17Ex+ECUQYfLR16+GXnFdD5qpTOb1+QzNDWkvM=</string>
	<key>TORTOISE_API_BASE_URL</key>
	<string>$(TORTOISE_API_BASE_URL)</string>
</dict>
</plist>
